packages:
  yum:
    docker: []

files:
  "/opt/seekret/sniffer.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/seek-ret/installation/master/aws-elastic-beanstalk/run.sh

commands:
  chmod_seekret_sniffer_file:
    command: chmod +x /opt/seekret/sniffer.sh
    ignoreErrors: true
